.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .top {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}